@model IEnumerable<DotnetcoreMediaPanion.ViewModels1.Services>
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
            <h2>Our Services</h2>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="services-contents">
        @foreach (var item in Model)
        {
            <!-- Start Left services -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                    <div class="services-details">
                        <div class="single-services">


                            <a class="services-icon" href="#">
                                <i class="fa @item.Icon"></i>
                            </a>
                            <h4>@item.Name</h4>

                            <div class="Service-description" id="MyText">

                                @*string[] times = (Model.HoursOfOperation).Replace(" ", "").Split('-');*@

                                @{ 
                                    string[] myval = item.Description.Split('-');
                                    foreach (string val in myval) {
                                        <h6 >@val</h6>
                                    }
                                }
                            </div>
                            <a class="fa-expand Myexpand" href="#MyText">Click to expand All Text</a>


                        </div>
                    </div>
                    <!-- end about-details -->
                </div>
            </div>
        }
    </div>
</div>
<script>

    $('.Service-description').click(function () {
        $(this).toggleClass('full-description');
        
    });

    $('.Myexpand').click(function () {
        $('.Service-description').toggleClass('full-description');

    });
</script>